@font-face {
  font-family: 'Insanibc';
  src: url('Insanibc.eot');
  src: url('Insanibc.eot?#iefix') format('embedded-opentype'),
       url('Insanibc.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url('InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg'),
       url('InsaniburgerwithCheese.ttf') format('truetype'),
       url('InsaniburgerwithCheese.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

