<!DOCTYPE html>
<html>

<head>

    <!-- Loading the static folder -->
    {% load staticfiles %}

    <!-- Title and icon of the tab of the browser-->
    <title>{{ title }} -  BK Napoli Centro</title>
    <link rel="icon" href="{% static 'BKNC/images/BKLogoBaseTransparent.png' %}" type="image/png" />

    <!-- Needed .css -->
    <link rel="stylesheet" type="text/css" href="{% static 'BKNC/content/bootstrap.min.css' %}" />  <!-- Compiled css -->
    <link rel="stylesheet" type="text/css" href="{% static 'BKNC/content/custom-style.css' %}" />   <!-- Custom stylesheet -->
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <!-- Needed .js -->
    <script src="{% static 'BKNC/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'BKNC/scripts/bootstrap.min.js' %}"></script>

</head>

<body>

    <!-- Header of the page -->
    <header class="bg-white">

        <!-- With "container-fluid" class the bar take the entire width of the page -->
        <div class="container-fluid">

            <!-- With "row" class you hold columns in it: each row, 12 columns -->
            <div class="row">

                <!-- Class "col-sm-2" take 25% of the orizzontal space and applies to S, M, L and XL devices but not XS -->
                <!-- Class "m-auto" means auto margin -->
                <!-- Class "d-none" together with "d-lg-block" means that is visible for L and XL devices -->
                <div class="col-sm-2 m-auto d-none d-lg-block">
                    <a href="/">
                        <!-- Principal logo of the page -->
                        <img class="logo" src="../../static/BKNC/Images/LogoPersonalized_2.png" alt="Home" height="150" width="150" />
                    </a>
                </div>

                <!-- Class "col" automatically divides the orizzontal space with same dimension, for each device dimension -->
                <div class="col m-auto">

                    <!-- The Contact Navbar on the top of the page will disappear if device size is less than L, as the logo -->
                    <div id="contactNavbar" class="d-none d-lg-block">
                        <!-- In order to equally divide this part between the contact, use again the "row" class -->
                        <div class="row text-center m-auto">

                            <div class="col m-auto">
                                <a class="btn btn-total-white" href="https://g.page/BurgerKingNapoliCentro?share" target="_blank">
                                    <!-- To have image and contact side by side and not up-down, we need another "row" class -->
                                    <div class="row text-center m-auto">
                                        <div class="text-center m-auto">
                                            <img class="logo" src="../../static/BKNC/Images/mapLogo.jpg" height="40" width="40" />
                                        </div>
                                        <div class="text-center m-auto">
                                            <!-- "Span" class means rectangular badge -->
                                            <h6><span><strong>Piazza Carità. 26</strong><br>80100, Napoli</span></h6>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col m-auto">
                                <a class="btn btn-total-white" href="tel:+393401704025" target="_blank">
                                    <div class="row text-center m-auto">
                                        <div class="text-center m-auto">
                                            <img class="logo" src="../../static/BKNC/Images/phoneLogo.png" height="30" width="30" />
                                        </div>
                                        <div class="text-center m-auto">
                                            <h6><span> &nbsp; +39 340 17 04 025 </span></h6>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col m-auto">
                                <a class="btn btn-total-white" href="mailto:lollodr@hotmail.it" target="_blank">
                                    <div class="row text-center m-auto">
                                        <div class="text-center m-auto">
                                            <img class="logo" src="../../static/BKNC/Images/emailLogo.jpg" height="35" width="35" />
                                        </div>
                                        <div class="text-center m-auto">
                                            <h6><span> &nbsp; lollodr@hotmail.it</span></h6>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="menuNavbar" class="row text-center m-auto">

                        <!-- Here we need a navigation bar, in particular to work with the mobile devices -->
                        <!-- "navbar-expand-md" stacks the navbar vertically on medium screens -->
                        <!-- "navbar-ligh" and "bg-white" creates the aestetich of the navigation bar -->
                        <nav class="navbar navbar-expand-md navbar-light bg-white text-center m-auto ">
                            <div class="collapse navbar-collapse">

                                <!-- "ul" creates a list group -->
                                <!-- The "navbar-nav" class let to add links inside the navbar -->
                                <ul class="navbar-nav m-auto">

                                    <li id="homeButton" class="nav-item">
                                        <a class="nav-custom active" href="/">
                                            Home
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <!-- 
                                            The class "dropdown-toggle" and the data attribute with the same name automatically
                                            hooks up the elementy to the type the widget is, so dropdown
                                        -->
                                        <!-- Without the "href" the Menu would be apparently not cliccable -->
                                        <a class="nav-custom dropdown-toggle" href="#" id="dropdownMenu" data-toggle="dropdown">
                                            Menu
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                            <li class="dropdown-item" href="#"> Menu completo </li>
                                            <li class="dropdown-item" href="#"> Offerte </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-custom" href="/">
                                            Azienda
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-custom" href="/">
                                            Area personale
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </nav>
                    </div>

                </div>

                <div class="col-sm-2 m-auto">
                    
                    <div id="socialLogos" class="row text-center m-auto d-none d-lg-block">

                        <nav class="navbar navbar-expand-md navbar-light bg-white text-center m-auto">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a class="nav-custom" href="https://www.facebook.com/pg/BurgerKingNapoliCentro/" target="_blank">
                                        <img class="logo" src="../../static/BKNC/Images/facebookButton.png" alt="Facebook" height="50" width="50" />
                                    </a>
                                </li> 

                                <li class="nav-item">
                                    <a class="nav-custom" href="https://www.instagram.com/burgerkingnapoli/" target="_blank">
                                        <img class="logo" src="../../static/BKNC/Images/instagramButton.jpg" alt="Instagram" height="37" width="37" />
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                    <div id="languages" class="row text-center m-auto">

                        <nav class="navbar navbar-expand-md navbar-light bg-white text-center m-auto">
                           <ul class="navbar-nav m-auto">
                               <li class="nav-item">
                                   <a href="#" class="nav-custom active">
                                       IT
                                   </a>
                               </li> 
                               <li class="nav-item">
                                   <a class="nav-custom" href="#">
                                       EN
                                   </a>
                               </li>
                           </ul>
                        </nav>

                    </div>

                </div>

            </div>

        </div>

    </header>

    <!-- Content of the page -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <footer class="container-fluid">

        <!-- "hr" stays for Horizzontal Rule, so it is an horizzontal divider -->
        <hr />

        <!-- Footer informations -->
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013-2020 Burger King Napoli Centro &middot; <a href="#"> Privacy </a> &middot; <a href="#"> Terms </a> </p>

    </footer>

</body>

</html>