/* Details for the body, in particoular font */
body {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    line-height: 1.42857143;
    padding-top: 0;
}

/* Slightly different aesthetics for the contact part, so text into the header with h6 dimension and span class */
header h6 span {
    overflow: hidden;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
}

/* Button for contacts layout */
.btn-total-white {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-total-white:hover {
    border-color: black;
}

.btn-total-white:focus, .btn-total-white.focus {
    color: black;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 0 0.2rem white;
}

.btn-total-white.disabled, .btn-total-white:disabled {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-total-white:not(:disabled):not(.disabled):active, .btn-total-white:not(:disabled):not(.disabled).active,
.show > .btn-total-white.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: gray;
}

.btn-total-white:not(:disabled):not(.disabled):active:focus, .btn-total-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-total-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
}



/* Class for image used as a logo */
img.logo {
    max-width: 100%;
    max-height: 100%;
}

/* Navbar menu */
.nav-custom {
    color: slategrey;
    display: block;
    padding: 0.5rem 1rem;
}

.nav-custom:hover, .nav-custom:focus {
    text-decoration: none;
    color: black;
}

.nav-item .nav-custom {
    font-size: xx-large;
}

.nav-custom.active {
    color: black
}